@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
	button {
		@apply h-8 px-4 text-sm text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg hover:bg-indigo-800;
	}
}

a.active {
	color: rgb(232, 232, 141);
}

	div.fadein {
		animation: fadein 1s;
	}

	@keyframes fadein {
		0% {
			opacity: 0;
			transform: scale(.99);
			color: red;
		}

		50% {
			color: darkred;
		}

		100% {
			opacity: 1;
			transform: scale(1);
			color: black;
		}
	}